//- - var data = dataGlobal.home.cover;

section.cover#cover-home()
	
	// Gallery
	include ./coverGallery
	
	// UI
	//- include ./coverUi

	// WebGL
	include ../../components/canvas

	// (don't ask why)
	section