extends ../../index.pug

block additionalHead
	base(href="/")

	title='Wendel Moretti'

	meta(name="description", content="Infinite scrolling gallery with a simple and clean design.")
	meta(name="keywords", content="threejs, three.js, three, javascript, webgl, webgl2, glsl, shader, gallery, infinite, scrollin")

	meta(property="og:type" content="website")
	meta(property="og:site_name" content='Photography')
	meta(property="og:title" content='Wendel Moretti')
	meta(property="og:description" content="Infinite scrolling gallery with a simple and clean design.")
	meta(property="og:image" content='/images/ogimage.jpg')

	meta(name="twitter:card" content="summary_large_image")
	meta(name="twitter:title" content='Wendel Moretti')
	meta(name="twitter:description" content="Infinite scrolling gallery with a simple and clean design.")
	meta(name="twitter:image" content='/images/ogimage.jpg')

block content
	main.content.home(data-template="home")
		include ./cover