nav 
	.nav__wrapper 
		.nav__left
			h1 Wendel Moretti
				//- img.nav__logo__img(data-pre="/images/logo.svg" width="96px" height="96px")

		.nav__right 
			.nav__social__links 
				a.nav__link(href="https://www.facebook.com/wendelfoto" target="_blank")
					svg(width='22' height='21' viewbox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M21.8004 10.5639C21.8004 4.72819 17.0465 0 11.179 0C5.31155 0 0.557617 4.72819 0.557617 10.5639C0.557617 15.8365 4.44171 20.2069 9.51943 21V13.6176H6.82125V10.5639H9.51943V8.23643C9.51943 5.58907 11.1041 4.12673 13.5311 4.12673C14.6935 4.12673 15.909 4.3329 15.909 4.3329V6.93128H14.5693C13.2502 6.93128 12.8386 7.74572 12.8386 8.58103V10.5639H15.7843L15.3132 13.6176H12.8386V21C17.9163 20.2069 21.8004 15.8365 21.8004 10.5639Z' fill='#0F0F0F' fill-opacity='0.8')
				a.nav__link(href="https://www.instagram.com/moretti.fotografia/" target="_blank")
					svg(width='22' height='21' viewbox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M11.3627 5.11587C8.36618 5.11587 5.94921 7.51975 5.94921 10.5C5.94921 13.4803 8.36618 15.8841 11.3627 15.8841C14.3591 15.8841 16.7761 13.4803 16.7761 10.5C16.7761 7.51975 14.3591 5.11587 11.3627 5.11587ZM11.3627 14.0004C9.42625 14.0004 7.84321 12.4306 7.84321 10.5C7.84321 8.5694 9.42154 6.99961 11.3627 6.99961C13.3038 6.99961 14.8821 8.5694 14.8821 10.5C14.8821 12.4306 13.2991 14.0004 11.3627 14.0004ZM18.2602 4.89563C18.2602 5.59383 17.6948 6.15146 16.9975 6.15146C16.2955 6.15146 15.7349 5.58914 15.7349 4.89563C15.7349 4.20211 16.3002 3.6398 16.9975 3.6398C17.6948 3.6398 18.2602 4.20211 18.2602 4.89563ZM21.8456 6.1702C21.7655 4.48795 21.3792 2.99782 20.1401 1.77011C18.9057 0.542396 17.4074 0.15815 15.716 0.0738034C13.9728 -0.0246011 8.7478 -0.0246011 7.00457 0.0738034C5.31788 0.153464 3.81964 0.537711 2.58053 1.76542C1.34142 2.99314 0.959792 4.48326 0.874986 6.16551C0.776046 7.89931 0.776046 13.096 0.874986 14.8298C0.955081 16.512 1.34142 18.0022 2.58053 19.2299C3.81964 20.4576 5.31316 20.8419 7.00457 20.9262C8.7478 21.0246 13.9728 21.0246 15.716 20.9262C17.4074 20.8465 18.9057 20.4623 20.1401 19.2299C21.3745 18.0022 21.7608 16.512 21.8456 14.8298C21.9446 13.096 21.9446 7.90399 21.8456 6.1702ZM19.5935 16.6901C19.226 17.6086 18.5146 18.3161 17.5865 18.6863C16.1966 19.2346 12.8986 19.1081 11.3627 19.1081C9.82672 19.1081 6.524 19.2299 5.13884 18.6863C4.2154 18.3208 3.50397 17.6132 3.13177 16.6901C2.58053 15.3078 2.70774 12.0276 2.70774 10.5C2.70774 8.97239 2.58524 5.68755 3.13177 4.30989C3.49926 3.39144 4.21069 2.68387 5.13884 2.31368C6.52872 1.76542 9.82672 1.89194 11.3627 1.89194C12.8986 1.89194 16.2013 1.77011 17.5865 2.31368C18.5099 2.67918 19.2213 3.38676 19.5935 4.30989C20.1448 5.69223 20.0176 8.97239 20.0176 10.5C20.0176 12.0276 20.1448 15.3125 19.5935 16.6901Z' fill='#0F0F0F' fill-opacity='0.8')

				a.nav__link(href="https://www.youtube.com/channel/UCFAdnhtym65lriyAzM3w7wQ" target="_blank")
					svg(width='24' height='17' viewbox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M22.9713 3.08934C22.7123 2.11932 21.9491 1.35537 20.9801 1.09611C19.2237 0.625 12.1809 0.625 12.1809 0.625C12.1809 0.625 5.13813 0.625 3.38172 1.09611C2.41273 1.35541 1.64956 2.11932 1.39054 3.08934C0.919922 4.84756 0.919922 8.51591 0.919922 8.51591C0.919922 8.51591 0.919922 12.1843 1.39054 13.9425C1.64956 14.9125 2.41273 15.6446 3.38172 15.9039C5.13813 16.375 12.1809 16.375 12.1809 16.375C12.1809 16.375 19.2237 16.375 20.9801 15.9039C21.9491 15.6446 22.7123 14.9125 22.9713 13.9425C23.4419 12.1843 23.4419 8.51591 23.4419 8.51591C23.4419 8.51591 23.4419 4.84756 22.9713 3.08934ZM9.87751 11.8465V5.18532L15.7639 8.516L9.87751 11.8465Z' fill='#0F0F0F' fill-opacity='0.8')


				//- a.nav__email__link(href="mailto:hello@utkina-design.com?subject=Design Services") hello@utkina-design.com
			.nav__menu
				.nav__menu__line
				.nav__menu__line
				.nav__menu__line
	.nav__content
		.nav__content__wrapper
			.nav__content__container 
				a.nav__content__link(href="https://www.facebook.com/wendelfoto" target="_blank") 
					span.nav__content__link--inner Facebook
				a.nav__content__link(href="https://www.instagram.com/moretti.fotografia/" target="_blank") 
					span.nav__content__link--inner Instagram
				a.nav__content__link(href="https://www.youtube.com/channel/UCFAdnhtym65lriyAzM3w7wQ" target="_blank")
					span.nav__content__link--inner YouTube