.gallery {
	@extend %page;
	@extend %center;
	padding: 4rem 12%;
}
.gallery__wrapper {
	width: inherit;
	height: inherit;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);

	@include media('<tablet') {
		grid-template-columns: repeat(2, 1fr);
	}
	@include media('<phone') {
		grid-template-columns: repeat(1, 1fr);
	}
}

.gallery__item {
	width: 318px;
	height: 318px;
	border-radius: 10px;
	margin: 1rem;

	aspect-ratio: 1;

	@include media('<tablet') {
		grid-template-columns: repeat(2, 1fr);
		margin: 0.7rem;
	}
	@include media('<phone') {
		width: 100%;
		height: auto;

		margin: 20px 0;
		grid-template-columns: repeat(1, 1fr);
	}
}

.gallery__image {
	@extend %hidden;
	aspect-ratio: inherit;
	height: inherit;
	width: inherit;
	border-radius: inherit;
	object-fit: cover;
}
